useDynLib(gsynth)
importFrom(Rcpp, evalCpp)

# exportPattern("^[[:alpha:]]+")
export(gsynth)
S3method(gsynth, default)
S3method(gsynth, formula)
S3method(print, gsynth)
S3method(plot, gsynth)
export(interFE)
S3method(interFE, default)
S3method(interFE, formula)
S3method(print, interFE)
# export(inter_fe)
